.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rebeccapurple;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    display: block;
    overflow-y: scroll;
}
.modal #cross{
    position: relative;
    left: 92%;
    margin-top: 2%;
    font-size: 20px;
    cursor: pointer;
}

.modal-header {
    padding: 30px 30px 0;
    text-align: center;
    font-size: 22px;

}

.overlay{
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
}

.modal-header h5 {
    font-weight: 600;
}
.modal-body{
    font-size: 20px;

}

.modal-body h6{
    font-weight: 600;
}
.modal-body {
    padding: 30px;
}

.modal button {
    text-align: center;
}

.modal .form {
    width: 400px;
}
.modal .formulaire{
    /*Grand format ici*/
    width: 800px;
    font-family: "Gotham";
}
.modal .form-grap{
    display: flex;
    justify-content: space-between;
}
.modal .form-group{
    /* margin-right: 3%;
    margin-bottom: 2%; */
}
.modal .form-group label{
    font-family: "Inter";
    font-size: 16px;
}
.modal .form-group input, .modal .form-group select{
    width: 100%;
    padding: 8px 14.4px;
    margin-top: 2%;
    border: 1px solid #e6e6e6;
}
.modal .form-group input:focus{
    outline: none;
}
.modal button{
    margin-top: 2%;
    width: 100%;
    outline: none;
    border: none;
    padding: 13px;
    font-family: "Inter";
    font-weight: 400;
    background-color: var(--main-color);
    color: white;
    transition: .5s;
}
.modal button:hover{
    cursor: pointer;
}
.modal button:active{
    transform: scale(.5);
}
#monTextarea{
    margin-top: 1%;
    resize: none;
    border: 1px solid var(--main-color);  
    padding: 2%;  
    outline: none;
}

.modal-body.demande .body{
    margin-top: 4%;
}
.modal-body.demande .demande .body .flex-dialog + h6{
    font-size: 15px;
    background-color: red;
}