table{
    /*  display: grid;*/
  /*    height: 100vh;*/
      margin-top: 3%;
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 5px 10px #e1e5ee;
      background-color: white;
      text-align: center;
      overflow: hidden;
      border: 1px solid #ededed;
  }
  thead{
      box-shadow: 0 5px 10px #e1e5ee;
  }
  thead th{
      padding: 1rem 2rem;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      color: #333;
      
  }
  tbody td{
      text-align: center;
      padding: 1rem 1rem;
      color: #212529;
      font-size: 14px;
  }
  tbody button{
      text-align: center;
  }
  tbody tr:nth-child(even){
      background-color: rgb(233,233,233);
  }
  @media screen and (max-width: 992px) {
    table {
       margin-top: 3%;
       font-family: Roboto;
       font-weight: 400;
    padding-left: 2%;
    padding-right: 2%;

    }
    
    tbody td{
        padding-bottom: 6rem;
        padding: 0;
        padding-top: 4%;
    }
    thead th{
        font-size: 12px;
        padding-bottom: 6rem;
        padding: 0;
        padding-top: 4%;
    }
    tbody td{
        font-size: 12px;
        padding-top: 4%;
    }
  }