.sidebar{
    background-color: rgb(16,25,36);
    z-index: 99;
    width:16%;
    height:100vh;
    text-align: center;
}
.sidebar *{
    background-color: transparent;
}
.sidebar h4{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: transparent;
    padding:12px;
}
.sidebar hr{
    width: 100%;

}
.sidebar ul{
    margin-top: 20%;
}
.sidebar ul li {
    list-style-type: none;
    padding: 8px;
    transition:.5s;
    cursor: pointer;
    
}
.sidebar ul li:hover{
    background-color: var(--second-color);
}

.sidebar ul li, .sidebar ul li a{
    color: var(--police-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

