/*.operations_users{
    z-index: 1;
    position: absolute;
    top: 100%;
    text-align: center;
    background-color: red;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 1px #0003;
    color: #333;
    visibility: hidden;
    transition: .1s ease;
}
.operations_users.hide {
    visibility: visible;
}
.operations_users .operations{
    display: inline-block;
}*/
